/* cursor.css */
.cursor {
    width: 10px;
    height: 10px;
    background: rgba(144, 202, 249, 0.8);
    border-radius: 100%;
    position: fixed;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 9999;
    transition: all 0.1s ease-out;
    mix-blend-mode: difference;
}

/* Hover effects */
.link-hover ~ .cursor {
    transform: translate(-50%, -50%) scale(3);
    background: rgba(144, 202, 249, 0.4);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f5f9;
}

::-webkit-scrollbar-thumb {
    background: #90caf9;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #64b5f6;
}